In [1]:
import pandas as pd

In [3]:
df_channel_perf= pd.read_csv("channel_performance.csv")
df_wbr_global = pd.read_csv("wbr_Global_data.csv")
df_wbr_regional = pd.read_csv("wbr_regional_data.csv")

In [8]:
df_channel_perf.shape        
df_channel_perf.info()     
df_channel_perf.head()
df_channel_perf.tail()
df_channel_perf.describe()   
df_channel_perf.describe(include="all")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 10 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Channel                                  72 non-null     object
 1   Spend                                    54 non-null     object
 2   Month                                    72 non-null     object
 3   Visitors                                 72 non-null     int64
 4   Last Click Add To Cart                   72 non-null     int64
 5   Last Click Orders                        72 non-null     int64
 6   Last Click Revenue                       72 non-null     int64
 7   Last Click Email Captures                72 non-null     int64
 8   Email capture conversions 30 day window  54 non-null     float64
 9   Email capture conversions 60 day window  54 non-null     float64
dtypes: float64(2), int64(5), object(3)
memory usage: 5.8+ KB

,Channel,Spend,Month,Visitors,Last Click Add To Cart,Last Click Orders,Last Click Revenue,Last Click Email Captures,Email capture conversions 30 day window,Email capture conversions 60 day window
count,72,54,72,7.200000e+01,72.000000,72.000000,7.200000e+01,72.000000,54.000000,54.000000
unique,4,54,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,YouTube Ads,"$811,498",2025-05-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,18,1,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,2.355368e+05,1665.263889,333.055556,1.317523e+06,9812.708333,171.925926,243.722222
std,NaN,NaN,NaN,1.956279e+05,1376.053164,299.829853,1.201929e+06,6876.007608,211.174599,299.585400
min,NaN,NaN,NaN,3.077100e+04,44.000000,1.000000,2.783000e+03,1020.000000,5.000000,7.000000
25%,NaN,NaN,NaN,1.006395e+05,471.750000,60.000000,2.380660e+05,4843.000000,17.250000,23.500000
50%,NaN,NaN,NaN,1.705030e+05,1358.500000,325.500000,9.995630e+05,7825.500000,38.000000,50.500000
75%,NaN,NaN,NaN,3.083420e+05,2685.750000,553.250000,2.176708e+06,13879.750000,329.000000,494.250000
max,NaN,NaN,NaN,1.275720e+06,6637.000000,1125.000000,4.421151e+06,37665.000000,728.000000,1073.000000

In [9]:
df_wbr_global.shape        
df_wbr_global.info()     
df_wbr_global.head()
df_wbr_global.tail()
df_wbr_global.describe()   
df_wbr_global.describe(include="all")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 560 entries, 0 to 559
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         560 non-null    object
 1   Daily Spend  560 non-null    object
 2   Orders       560 non-null    int64
 3   Bookings     560 non-null    object
 4   Visitors     560 non-null    object
dtypes: int64(1), object(4)
memory usage: 22.0+ KB

            Date Daily Spend      Orders  Bookings Visitors
count        560         560  560.000000       560      560
unique       560         557         NaN       560      555
top     1/1/2024     $51,342         NaN  $282,147   22,337
freq           1           2         NaN         1        2
mean         NaN         NaN  106.671429       NaN      NaN
std          NaN         NaN   63.588620       NaN      NaN
min          NaN         NaN   42.000000       NaN      NaN
25%          NaN         NaN   76.000000       NaN      NaN
50%          NaN         NaN   94.500000       NaN      NaN
75%          NaN         NaN  118.250000       NaN      NaN
max          NaN         NaN  932.000000       NaN      NaN

In [10]:
df_wbr_regional.shape        
df_wbr_regional.info()     
df_wbr_regional.head()
df_wbr_regional.tail()
df_wbr_regional.describe()   
df_wbr_regional.describe(include="all")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9850 entries, 0 to 9849
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     0 non-null      float64
 1   Unnamed: 1     0 non-null      float64
 2   Date           9850 non-null   object
 3   Customer Type  9850 non-null   object
 4   Region         9850 non-null   object
 5   Bookings       9850 non-null   object
 6   Orders         9850 non-null   int64
 7   Units          9850 non-null   int64
dtypes: float64(2), int64(2), object(4)
memory usage: 615.8+ KB

,Unnamed: 0,Unnamed: 1,Date,Customer Type,Region,Bookings,Orders,Units
count,0.0,0.0,9850,9850,9850,9850,9850.000000,9850.000000
unique,NaN,NaN,561,4,9,6661,NaN,NaN
top,NaN,NaN,2025-05-14,1. New Members,US,$0,NaN,NaN
freq,NaN,NaN,27,3502,2240,737,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,6.940508,7.005584
std,NaN,NaN,NaN,NaN,NaN,NaN,23.371255,23.551023
min,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,4.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,794.000000,800.000000